* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
}

header {
    color: white;
}

#webname {
    background-color: #92ad70;
}

nav a {
    text-decoration: none;
    margin-right: 15px;
    color: #92ad70;
}

th {
    padding: 12px;
    background-color: darkgray;
    color: white;
    width: fit-content;
}

table tr:nth-child(even) {
    background-color: lightgray;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

input[type="submit"] {
    background-color: #92ad70;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#FavList {
    display: none;
}

#SeeMoreBTN {
    background-color: lightgrey;
    border: 0px;
    border-radius: 16px;
    font-size: large;
}

#shortIntro {
    display: block;
}

#readLess, #longIntro {
    display: none;
}

#readLess, #readMore {
    font-style: italic;
    background-color: lightgrey;
}

#ValidateMsg {
    width: max-content;
    margin: auto;
}

/* Flexbox Layout */
.mainLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item1, .item2, .item3, .item4 {
    flex: 1 1 300px;
    margin: 10px;
    padding: 10px;
}

/* Styling for container in item4 */
.container {
    border-radius: 10%;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
    text-align: center;
}

/* Fun Image */
.funIMG {
    border-radius: 100%;
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* Button Styling */
button {
    background-color: #92ad70;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #7a9e5a;
}
